<footer class="footer text-center">
        <p>© Designed by Thomas Gazikas</p>
        <a href="#"> <i class="fa fa-youtube"></i></a>
        <a href="#"><i class="fa fa-facebook-official"></i></a>
        <a href="#"><i class="fa fa-google"></i></a>
</footer>