<style>
    .footer {
     background-color:#525252;
     color:white;
    position: absolute !important;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
}   

</style>
<h1>{{message}}</h1>
<h2>{{error.status}}</h2>
<pre>{{error.stack}}</pre>
